<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册新用户</title>
</head>
<body>
{include file="./public/common/top.html"/}
<br><br>
<center>
<form action="{:url('recharge/doRecharge')}" method="post" n="f" onsubmit="return checkForm()">
	<table style="width:480px; border-width:3px; border-style:dotted;">
		<tr>
			<td colspan=2 style="text-align:center;height:60px;font-size:20px">
				充值
			</td>
		</tr>
		<tr>
		 	<td style="text-align:right;height:30px;font-size:15px">充值数量：</td>
			<td align=left><input type=text name="recharge" value="10000" />
			</td>
		</tr>
		<tr>
			<td style="text-align:right;height:30px;font-size:15px">密码：</td>
			<td align=left><input type="password" name="passw1" />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center;height:60px;">
				<input type=submit name=s value="确认" style="width:20%;height:50%" >
			</td>
		</tr>
	</table>
</form>
</center>
</body>
</html>